<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message List</title>

    <th:block th:insert="base :: header"></th:block>
    <link rel="stylesheet" type="text/css" href="css/StyleList.css">

</head>
<style >


</style>
<body>

<div th:replace="base :: navbar"></div>

<!--<div class="container-fluid">-->

    <!--<a href="/add">New Message</a>-->

    <!--<table cellspacing="20">-->
        <!--<tr>-->
            <!--<th>Title</th>-->
            <!--<th>Content</th>-->
            <!--<th>Date Posted</th>-->
            <!--<th>Posted By</th>-->
            <!--<td>Actions</td>-->
        <!--</tr>-->

        <!--<tr th:each="message : ${messages}">-->
            <!--<div class="container-fluid">-->
                <!--<td th:text="${message.title}"></td>-->
            <!--</div>-->

            <!--<div class="container-fluid" align="center">-->
                <!--<td th:text="${message.content}"></td>-->
            <!--</div>-->

            <!--<br/>-->
            <!--<td th:text="${message.postedDate}"></td>-->
            <!--<td th:text="${message.postedBy}"></td>-->

            <!--<td>-->
                <!--<a th:href="@{/update/{id}(id=${message.id})}">Update</a> - -->
                <!--<a th:href="@{/detail/{id}(id=${message.id})}">Details</a> - -->
                <!--<a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>-->
            <!--</td>-->

        <!--</tr>-->

    <!--</table>-->
<!--</div>-->

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h2>View messages </h2>

            <div sec:authorize="hasAuthority('USER')">

                Message Title :<span th:text="${message.title}"></span><br/>

                Content  :<span th:text="${message.content}"></span><br/>

                Posted By :<span th:text="${message.postedBy}"></span><br/>
                Post Date :<span th:text="${message.postedDate}"></span><br/>

                <!--<span th:if="${me == message.user.id}">-->
                    <!--<a th:href="@{/delete/{id}(id=${message.id})}">Delete this message </a>-->
                <!--</span>-->

            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                Message Title :<span th:text="${message.title}"></span><br/>

                Content  :<span th:text="${message.content}"></span><br/>

                Posted By :<span th:text="${message.postedBy}"></span><br/>
                Post Date :<span th:text="${message.postedDate}"></span><br/>
                <a th:href="@{/delete/{id}(id=${message.id})}">Delete this Message</a>

            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>